.userData{
    left: -350px;
    z-index: 9;
    color: #fff;
    background: #2c3e58;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.2;
    border: 0;
}
.ExData{
    width: 100%;
    padding: 12px 12px;
    margin-bottom: 8px;
}